{% extends 'base1.html.twig' %}
{% block title%} Liste des Departements{% endblock %}
{% block body %}

<h1 style="margin-top: 50px ; margin-bottom: 50px;
padding-left: 370px ; color: darkred"> Liste des Departements </h1>

{{ form_start(form) }}
<div class="form-row align-items-end" >
    <div class="col">
        {{ form_row(form.nom) }}
    </div>
    <div class="col">
        <div class="form-group">
            <button type="submit" style="background-color: darkgray;border-color: darkred" class="btn btn-success">Rechercher</button>
            <a href="{{ path('new_departement') }}" style="background-color: darkgray;border-color: darkred" class="btn btn-success">Ajouter Departement</a>
        </div>

    </div>

</div>
{{ form_end(form) }}
{% if departements %}
<table id="departements" class="table table-striped">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Chef_Dep</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for departement in departements %}
        <tr>
            <td>{{ departement.nom }}</td>
            <td>{{ departement.chefdep }}</td>
            <td>
                <a href="/departement/{{ departement.id }}" class="btn" style="background-color: darkgray;border-color: darkred" >Liste des enseignants</a>
                <a href="/departement/edit/{{ departement.id }}" class="btn btn-dark">Modifier</a>
                <a href="/departement/delete/{{ departement.id }}" class="btn btn-danger"
                   onclick="return confirm('Etesvous sûr de supprimer ce departement?');">Supprimer</a>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Aucun departement</p>
{% endif %}


{% endblock %}