{% extends 'base1.html.twig' %}
{% block title%} Liste des Reunions{% endblock %}

{% block body %}
    <h1 style="margin-top: 50px ; margin-bottom: 50px;
    padding-left: 370px ; color: darkred"> Liste des Reunions </h1>
{{ form_start(form) }}
<div class="form-row align-items-end" >

    <div class="col">
        {{ form_row(form.departement) }}
    </div>
    <div class="col">
        {{ form_row(form.nom) }}
    </div>

    <div class="col">
        <div class="form-group">
            <button type="submit" style="background-color: darkgray;border-color: darkred" class="btn btn-success">Rechercher</button>
            <a href="{{ path('new_reunion') }}" style="background-color: darkgray;border-color: darkred"  class="btn btn-success">Ajouter Reunion</a>
        </div>
    </div>
</div>
{{ form_end(form) }}

    {% if reunions %}
        <table id="reunions" class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>objectif</th>
                <th>Matiere</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            {% for reunion in reunions %}
                <tr>
                    <td>{{ reunion.nom }}</td>
                    <td>{{ reunion.objectif }}</td>
                    <td>{{ reunion.matiere }}</td>

                    <td>
                        <a href="/reunion/{{ reunion.id }}" class="btn btn-dark">Détails</a>
                        <a href="/reunion/edit/{{ reunion.id }}" class="btn btn-dark">Modifier</a>
                        <a href="/EnsToAffect/{{ reunion.id }}" class="btn btn-dark">Affect Enseignant</a>
                        <a href="/reunion/delete/{{ reunion.id }}" class="btn btn-danger"
                           onclick="return confirm('Etes vous sûr de supprimer cette reunion?');">Supprimer</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune reunion</p>
    {% endif %}

    <div id="calendar"> </div>

{% endblock %}
{% block javascripts %}
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: {{ data | raw}},
                nowIndicator:true
            })
            calendar.on('eventChange', (e) => {
                let url = `/api/${e.event.id}/edit`
                let donnees = {
                    "title": e.event.title,
                    "description": e.event.extendedProps.description,
                    "start": e.event.start,
                    "end": e.event.end,
                    "backgroundColor": e.event.backgroundColor,
                    "borderColor": e.event.borderColor,
                    "textColor": e.event.textColor,
                    "allDay": e.event.allDay
                }

                let xhr = new XMLHttpRequest
                xhr.open("PUT", url)
                xhr.send(JSON.stringify(donnees))
            })
            calendar.render();
        });
    </script>

{% endblock %}