{% extends 'base1.html.twig' %}



{% block title%} Liste des Stages{% endblock %}

{% block body %}
<div style="margin-top: 200px; margin-left: 5px">
<div class="titre" style="margin-left: 350px;margin-top:100px ">
<h1>Gestion des Stages</h1>
</div>
<hr style="visibility: hidden ">
          <table border="2px"  style="margin-left:auto; margin-right: auto;;text-align: center" class="table table-striped">

            <tr>
                {% if stage %}
                <th>id</th>
                <th>societe</th>
                <th>Email_Société</th>
                <th>Pays</th>
                <th>date_debut</th>
                <th>date_fin</th>
                <th>type_stage</th>
                <th>Action</th>





            </tr>
            <tr {%for s in stage%}>

                <td>{{s.id}} </td>
                <td>{{s.societe.Nom}} </td>
                <td> {{s.Email_Societe}}   </td>
                <td>  {{s.pays}}   </td>
                <td>{{s.date_debut|date('Y-m-d')}} </td>
                <td>{{s.date_fin|date('Y-m-d')}} </td>
                <td>{{s.type_stage}} </td>
                <td><a href="{{ path('updateStage',{'id':s.id}) }}" class="btn btn-dark">Update</a>
                <a href="{{ path('ds',{'id':s.id}) }}"class="btn btn-danger" onclick="return confirm('Etes vous sûr de supprimer ce Stage?');">Delete</a></td>







            </tr {%endfor%}}>



        </table>
      <div style="margin-left: 450px">
           <a href="stage/Add"><button class="btn btn-primary"  >Ajouter Un Stage</button></a>
</div>
    </div>
{% else %}
    <p style="font-size: 40px; color: crimson; margin-left: 350px; font-family: bold 'Harlow Solid Italic'" >Aucun Stage à afficher ! <a href="stage/Add"><button class="btn btn-primary"  >Ajouter un stage</button> </a></p>
  {% endif %}

{% endblock %}



